@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 24px;
  max-width: 1920px;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.bigScreen {
  display: none;
}
@media (min-width: 1200px) {
  .bigScreen {
    display: block;
  }
}

.header {
  background-color: #011827;
}
.header__div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.header__logo {
  width: 128px;
  height: 82px;
  margin-left: 27px;
  margin-top: 26px;
}
.header__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  font-size: 1rem;
  width: 20%;
  margin-left: 0.8rem;
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .header__text {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 2.7rem;
  }
}

@media (min-width: 1200px) {
  .header__nav {
    background-color: #011827;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .header__nav__list {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    margin: 0;
  }
  .header__nav__list__item {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  .header__nav__list__item:hover {
    color: #8ACFE5;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 1200px) {
  .hackerBackground {
    width: 100%;
    min-height: 274px;
    object-fit: cover;
  }
  .hackerBackground__desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hackerBackground {
    display: none;
  }
  .hackerBackground__desktop {
    display: block;
    object-fit: cover;
    width: 100%;
    min-height: 468px;
  }
}
@media (min-width: 1200px) {
  .btnSection {
    display: flex;
    margin-top: -1.5rem;
    justify-content: center;
    gap: 1rem;
    flex-direction: row-reverse;
  }
}
.btnSection__onSite {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  height: 66px;
  width: 308px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #8ACFE5;
  color: #011827;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .btnSection__onSite {
    margin: 0;
  }
}
.btnSection__online {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.67rem;
  text-decoration: underline;
  color: #36769D;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
@media (min-width: 1200px) {
  .btnSection__online {
    background-color: #E3170A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    height: 66px;
    width: 308px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .reviewSection {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 0 5rem;
    margin-bottom: 6rem;
  }
}
@media (max-width: 1200px) {
  .reviewSection .bigScreen {
    display: none;
  }
}
.reviewSection__figure {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.reviewSection__figure__img {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  width: 96px;
  height: 96px;
}
.reviewSection__figure__quote {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  grid-column: 3/span 4;
  grid-row: 1/span 3;
  margin: 0 0rem 0.5rem 1rem;
}
.reviewSection__figure__caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  grid-column: 3/span 4;
  grid-row: 4/span 1;
  margin: 0;
  margin-left: 1rem;
}

.challengesSection {
  height: 480px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1px;
  margin-left: 20px;
}
@media (min-width: 1200px) {
  .challengesSection {
    justify-content: center;
    padding: 4rem 0 5rem 0;
  }
}
.challengesSection__headerText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.33rem;
  text-align: center;
  margin-top: 125px;
}
.challengesSection__box {
  display: flex;
  flex-direction: column;
  width: 363px;
  height: 446px;
  margin-left: 52.07px;
  margin-right: 15px;
  background-color: #ffffff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.challengesSection__img {
  width: 363px;
  height: 219px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.challengesSection__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.17rem;
  width: 308px;
  height: 33px;
  margin-left: 18px;
  margin-top: 18px;
  margin-bottom: 0;
}
.challengesSection__starSection {
  display: flex;
  margin-left: 18px;
  gap: 5px;
}
.challengesSection__star {
  width: 15x;
  height: 18px;
}
.challengesSection__participants {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.58rem;
  margin: auto;
  margin-left: 5px;
}
.challengesSection__info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  margin-left: 18px;
  margin-top: 23px;
  margin-right: 18px;
}
.challengesSection__btnContainer {
  display: flex;
  justify-content: flex-end;
}
.challengesSection__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.66rem;
  background-color: #E3170A;
  color: white;
  border: none;
  border-radius: 5px;
  width: 179.28px;
  height: 44px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.storySection {
  display: block;
  margin-top: 10%;
  height: 500px;
  background-color: #011827;
}
.storySection__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.17rem;
  color: #ffffff;
  text-align: center;
  padding-top: 4rem;
}
@media (min-width: 1200px) {
  .storySection__text {
    width: 50%;
    margin: auto;
  }
}
.storySection__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  width: 308px;
  height: 66px;
  background-color: transparent;
  border: 1.5px solid #8ACFE5;
  color: #8ACFE5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.friendsSection__img {
  width: 100%;
  object-fit: cover;
}
.friendsSection .friendsSection__container__headerText {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.33rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5%;
}
.friendsSection .friendsSection__container__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}
.friendsSection .friendsSection__container__btn {
  background-color: #E3170A;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  width: 308px;
  height: 66px;
  margin-left: 21px;
  margin-bottom: 64px;
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .friendsSection {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .friendsSection__img {
    width: 100%;
    height: 100%;
  }
  .friendsSection .friendsSection__container {
    padding-left: 20%;
    padding-top: 2vw;
    padding-right: 20%;
  }
  .friendsSection .friendsSection__container__headerText {
    margin: 0 0 1rem 0;
  }
  .friendsSection .friendsSection__container__text {
    margin: 1rem 0 1rem 0;
  }
  .friendsSection .friendsSection__container__btn {
    margin: 0;
    padding: 0;
  }
}

.onlineSection__img {
  width: 100%;
  object-fit: cover;
}
.onlineSection .onlineSection__container__headerText {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.33rem;
  width: 435px;
  height: 106px;
  margin-left: 21px;
  margin-right: 21px;
}
.onlineSection .onlineSection__container__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  width: 435px;
  height: 112px;
  margin-left: 21px;
  margin-right: 21px;
}
.onlineSection .onlineSection__container__btn {
  background-color: #E3170A;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  height: 66px;
  width: 308px;
  margin-left: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .onlineSection {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .onlineSection__img {
    width: 100%;
    height: 100%;
    grid-area: 1/2;
  }
  .onlineSection .onlineSection__container {
    grid-area: 1/1;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-right: 5rem;
  }
  .onlineSection .onlineSection__container__headerText {
    margin: 0 0 1rem 0;
  }
  .onlineSection .onlineSection__container__text {
    margin: 1rem 0 1rem 0;
  }
  .onlineSection .onlineSection__container__btn {
    margin: 0;
    padding: 0;
  }
}

.footerSection {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #011827;
  height: 566px;
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #ffffff;
}
.footerSection__info__headerText {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  padding-top: 3rem;
  margin-left: 22px;
}
.footerSection__info p {
  margin-left: 22px;
  margin-right: 22px;
}
.footerSection__siteMap {
  margin-top: 0px;
  padding: 0px;
  margin-left: 22px;
}
.footerSection__siteMap__headerText {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  padding-top: 5px;
  margin: 0;
}
.footerSection__socialMedia {
  margin-left: 22px;
}
.footerSection__socialMedia__headerText {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  padding-top: 5px;
  margin: 0;
}
.footerSection ul {
  padding-left: 0;
}
.footerSection li {
  list-style-type: none;
  margin: 0;
}
.footerSection a {
  color: white;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .footerSection {
    display: flex;
    padding: 5rem 5rem 0 5rem;
    justify-content: space-between;
    align-items: flex-start;
    height: 467px;
  }
  .footerSection__info {
    max-width: 20rem;
  }
  .footerSection__siteMap, .footerSection__socialMedia {
    margin-top: 3.5rem;
    margin-left: 1rem;
    margin-right: 5rem;
  }
}

/*# sourceMappingURL=main.css.map */
