@use './lib.scss' as *;

.btnSection {
    @media (min-width: $layout-breakpoint-large) {
        display: flex;
        margin-top: -1.5rem;
        justify-content: center;
        gap: 1rem;
        flex-direction: row-reverse;
    }

    &__onSite {
        @include bold-font();
        font-size: 1rem;
    
        height: 66px;
        width: 308px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;

        align-items: center;
        justify-content: center;
    
        border: none;
        border-radius: 5px;
        background-color: $primary-btn-on-dark;
        color: $dark-blue;
        text-decoration: none;

        @media (min-width: $layout-breakpoint-large) {
            margin: 0;
        }
    }

    &__online {
        @include bold-font();
        font-size: 0.67rem;
        text-decoration: underline;
        
        color: $blue;
        background-color: transparent;
        border: none;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;

        @media (min-width: $layout-breakpoint-large) {
            @include primary-btn();
            font-size: 1rem;
            text-decoration: none;
            height: 66px;
            width: 308px;
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0;            
        }
    }
}