@use './lib.scss' as *;

.footerSection {
    @include regular-font();

    background-color: $dark-blue;
    height: 566px;
    margin-top: 2rem;

    font-size: 0.75rem;
    color: #ffffff;

    &__info {
        &__headerText {
            @include bold-font();
            font-size: 0.75rem;
            padding-top: 3rem;
            margin-left: 22px;
        }

        p {
            margin-left: 22px;
            margin-right: 22px;
        }
    }

    &__siteMap {
        margin-top: 0px;
        padding: 0px;
        margin-left: 22px;

        &__headerText {
            @include bold-font();
            font-size: 0.75rem;
            padding-top: 5px;
            margin: 0;
        }
    }

    &__socialMedia {
        margin-left: 22px;

        &__headerText {
            @include bold-font();
            font-size: 0.75rem;
            padding-top: 5px;
            margin: 0; 
        }
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        margin: 0;
    }

    a {
        color: white;
        text-decoration: none;
    }

    @media (min-width: $layout-breakpoint-large) { 
        display: flex;
        padding: 5rem 5rem 0 5rem;
        justify-content: space-between;
        align-items: flex-start;
        height: 467px;

        &__info {
            max-width: 20rem;
        }

        &__siteMap, &__socialMedia {
            margin-top: 3.5rem;
            margin-left: 1rem;
            margin-right: 5rem;
        }

        
    }
}
