@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-btn-color: #E3170A;
$primary-btn-on-dark: #8ACFE5;
$dark-blue: #011827;
$blue: #36769D;
$grey: #B6BDB5;

$layout-breakpoint-large: 1200px;
$layout-breakpoint-small: 900px;

@mixin regular-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin bold-font {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin italic-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin primary-btn {
    background-color: $primary-btn-color;
    color: white;
    border: none;
    border-radius: 5px;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 24px;
  max-width: 1920px;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.bigScreen {
    display: none;

    @media (min-width: $layout-breakpoint-large) {
        display: block;
    }
}

.header {
    background-color: $dark-blue;

    &__div {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    &__logo { 
        width: 128px;
        height: 82px;
        margin-left: 27px;
        margin-top: 26px;
    }

    &__text {
        @include bold-font();
        color: #FFFFFF;
        font-size: 1rem;
        width: 20%;
        margin-left: 0.8rem;
        margin-top: 1rem;

        @media (min-width: $layout-breakpoint-large) {
            width: 100%;
            font-size: 1.6rem;
            margin-top: 2.7rem;
        }
    }
}

@media (min-width: $layout-breakpoint-large) { 
    .header {
        &__nav {
            background-color: $dark-blue;
            display: block;
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
    
            &__list {
                @include bold-font();
                display: flex; 
                justify-content: space-evenly;
                list-style: none;
                color: white;
                margin: 0;
        
                &__item {
                    font-size: 1rem;
                    
                    &:hover{
                        color: #8ACFE5;
                    }
                }
            }
        }
    }
}

@media (max-width: $layout-breakpoint-large) { 
    .header {
        &__nav {
            display: none;
        }
    }
}

@media (max-width: $layout-breakpoint-large) {
    .hackerBackground {
        width: 100%;
        min-height: 274px;
        object-fit: cover;
  
        &__desktop {
            display: none;
        }
    }
}

@media (min-width: $layout-breakpoint-large) {
    .hackerBackground {
        display: none;
        
        &__desktop {
            display: block;
            object-fit: cover;
            width: 100%;
            min-height: 468px;
        }
    }
}

.btnSection {
    @media (min-width: $layout-breakpoint-large) {
        display: flex;
        margin-top: -1.5rem;
        justify-content: center;
        gap: 1rem;
        flex-direction: row-reverse;
    }

    &__onSite {
        @include bold-font();
        font-size: 1rem;
    
        height: 66px;
        width: 308px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    
        border: none;
        border-radius: 5px;
        background-color: $primary-btn-on-dark;
        color: $dark-blue;

        @media (min-width: $layout-breakpoint-large) {
            margin: 0;
        }
    }

    &__online {
        @include bold-font();
        font-size: 0.67rem;
        text-decoration: underline;
        
        color: $blue;
        background-color: transparent;
        border: none;
    
        display: block;
        margin: auto;
        margin-top: 5%;

        @media (min-width: $layout-breakpoint-large) {
            @include primary-btn();
            font-size: 1rem;
            text-decoration: none;
            height: 66px;
            width: 308px;

            margin: 0;            
        }
    }
}

.reviewSection {
    @media (min-width: $layout-breakpoint-large) {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        padding: 0 5rem;
        margin-bottom: 6rem;
    }

    .bigScreen {
        @media (max-width: $layout-breakpoint-large) {
            display: none;
        }
    }

    &__figure {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;

        &__img {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            width: 96px;
            height: 96px;
        }

        &__quote {
            @include italic-font();
            font-size: 1rem;
            grid-column: 3 / span 4;
            grid-row: 1 / span 3;
            margin: 0 0rem 0.5rem 1rem;
        }

        &__caption {
            @include regular-font();
            font-size: 0.75rem;
            grid-column: 3 / span 4;
            grid-row: 4 / span 1;
            margin: 0;
            margin-left: 1rem;
        }
    }
}

.challengesSection {
    height: 480px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1px;
    margin-left: 20px;

    @media (min-width: $layout-breakpoint-large) {
        justify-content: center;
        padding: 4rem 0 5rem 0;
    }

    &__headerText {
        @include regular-font();
        font-size: 1.33rem;
    
        text-align: center;
        margin-top: 125px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 363px;
        height: 446px;
        margin-left: 52.07px;
        margin-right: 15px;
        background-color: #ffffff;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0,0,0, .25);
    }

    &__img {
        width: 363px;
        height: 219px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__text {
        @include regular-font();
        font-size: 1.17rem;
        width: 308px;
        height: 33px;
        margin-left: 18px;
        margin-top: 18px;
        margin-bottom: 0;
    }

    &__starSection {
        display: flex;
        margin-left: 18px;
        gap: 5px;
    }

    &__star {
        width: 15x;
        height: 18px;
    }

    &__participants {
        @include regular-font();
        font-size: 0.58rem;
    
        margin: auto;
        margin-left: 5px;
    }

    &__info {
        @include regular-font();
        font-size: 0.75rem;
        margin-left: 18px;
        margin-top: 23px;
        margin-right: 18px;
    }

    &__btnContainer {
        display: flex;
        justify-content: flex-end
    }
    
    &__btn {
        @include bold-font();
        font-size: 0.66rem;
    
        @include primary-btn();
    
        width: 179.28px;
        height: 44px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

.storySection {
    display: block;
    margin-top: 10%;
    height: 500px;
    background-color: $dark-blue;

    &__text {
        @include regular-font();
        font-size: 1.17rem;
        color: #ffffff;
        text-align: center;
        padding-top: 4rem;

        @media (min-width: $layout-breakpoint-large) {
            width: 50%;
            margin: auto;
        }
    }

    &__btn {
        @include bold-font();
        font-size: 1rem; 
    
        width: 308px;
        height: 66px;
        background-color: transparent;
        border: 1.5px solid $primary-btn-on-dark;
        color: $primary-btn-on-dark;
        border-radius: 5px;
        display: block;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
    }
}

.friendsSection {
    &__img {
        width: 100%;
        object-fit: cover
    }

    .friendsSection__container {
        &__headerText {
            @include bold-font();
            font-size: 1.33rem;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 5%;
        }
        
        &__text {
            @include regular-font();
            font-size: 1rem;
            margin-left: 20px;
            margin-right: 20px;
        }
        
        &__btn {
            @include primary-btn();
            @include bold-font();
            font-size: 1rem;
            width: 308px;
            height: 66px;
            margin-left: 21px;
            margin-bottom: 64px;
            margin-top: 58px;
        }
    }
    

    @media (min-width: $layout-breakpoint-large) {
        display: grid;
        grid-template-columns: 50% 50%;

        &__img {
            width: 100%;
            height: 100%;
        }

        .friendsSection__container {
            padding-left: 20%;
            padding-top: 2vw;
            padding-right: 20%;

            &__headerText {
                margin: 0 0 1rem 0;
            }
            
            &__text {
                margin: 1rem 0 1rem 0;
            }

            &__btn {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.onlineSection {
    &__img {
        width: 100%;
        object-fit: cover
    }

    .onlineSection__container {
        &__headerText {
            @include bold-font();
            font-size: 1.33rem;
            width: 435px;
            height: 106px;
            margin-left: 21px;
            margin-right: 21px;
        }
        
        &__text {
            @include regular-font();
            font-size: 1rem;
            width: 435px;
            height: 112px;
            margin-left: 21px;
            margin-right: 21px;
        }
        
        &__btn {
            @include primary-btn();
            @include bold-font();
            font-size: 1rem;
        
            height: 66px;
            width: 308px;
            margin-left: 21px;
        }
    }

    @media (min-width: $layout-breakpoint-large) {
        display: grid;
        grid-template-columns: 50% 50%;

        &__img {
            width: 100%;
            height: 100%;
            grid-area: 1 / 2;
        }

        .onlineSection__container {
            grid-area: 1 / 1;
            padding-left: 5rem;
            padding-top: 1rem;
            padding-right: 5rem;

            &__headerText {
                margin: 0 0 1rem 0;
            }
            
            &__text {
                margin: 1rem 0 1rem 0;
            }

            &__btn {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.footerSection {
    @include regular-font();

    background-color: $dark-blue;
    height: 566px;
    margin-top: 2rem;

    font-size: 0.75rem;
    color: #ffffff;

    &__info {
        &__headerText {
            @include bold-font();
            font-size: 0.75rem;
            padding-top: 3rem;
            margin-left: 22px;
        }

        p {
            margin-left: 22px;
            margin-right: 22px;
        }
    }

    &__siteMap {
        margin-top: 0px;
        padding: 0px;
        margin-left: 22px;

        &__headerText {
            @include bold-font();
            font-size: 0.75rem;
            padding-top: 5px;
            margin: 0;
        }
    }

    &__socialMedia {
        margin-left: 22px;

        &__headerText {
            @include bold-font();
            font-size: 0.75rem;
            padding-top: 5px;
            margin: 0; 
        }
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
        margin: 0;
    }

    @media (min-width: $layout-breakpoint-large) { 
        display: flex;
        padding: 5rem 5rem 0 5rem;
        justify-content: space-between;
        align-items: flex-start;
        height: 467px;

        &__info {
            max-width: 20rem;
        }

        &__siteMap, &__socialMedia {
            margin-top: 3.5rem;
            margin-left: 1rem;
            margin-right: 5rem;
        }

        
    }
}
