@use './sections/lib.scss' as *;
@use './sections/header.scss';
@use './sections/buttons.scss';
@use './sections/review.scss';
@use './sections/challenges.scss';
@use './sections/story.scss';
@use './sections/friends.scss';
@use './sections/online.scss';
@use './sections/footer.scss';


html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 24px;
  max-width: 1920px;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.bigScreen {
    @media (max-width: $layout-breakpoint-large) {
        display: none;
    }
}

@media (max-width: $layout-breakpoint-large) {
    .hackerBackground {
        width: 100%;
        min-height: 274px;
        object-fit: cover;
  
        &__desktop {
            display: none;
        }
    }
}

@media (min-width: $layout-breakpoint-large) {
    .hackerBackground {
        display: none;
        
        &__desktop {
            display: block;
            object-fit: cover;
            width: 100%;
            min-height: 468px;
        }
    }
}